.client {
    background-color: $blue4;
    border-radius: 200px 0px 0px 0px;
    color: #fff;
    padding-top: 95px;

    &__text {
        display: flex;
        align-items: center;
        margin-bottom: 110px;
    }

    &__title {
        width: 250px;
        margin-right: 100px;
    }

    &__descr {
        width: 540px;
        opacity: .6;
    }

    &__table {
        width: 100%;
        margin-bottom: 125px;
        border-collapse: collapse;
    }

    &__row--top > td {
        border-bottom: 1px solid rgba(#fff, .3);
    }

    &__row > td:not(:last-child) {
        border-right: 1px solid rgba(#fff, .3);
    }

    &__cell {
        width: 25%;
    }

    &__link {
        display: inline-block;
        text-align: center;
        padding: 40px 0;
        width: 100%;
        color: #fff;
        font-size: 20px;
        line-height: 46px;
        letter-spacing: .02em;

        &:not(.client__link--more) {
            text-transform: uppercase;
        }

        &:hover {
            background-color: rgba($blue1, .2);
        }
    }
}