.contactUs-header {
    background: #98D0FC url(../img/contact-bg.svg) no-repeat center center;
    background-size: cover;
    padding: 50px 0;
    text-align: center;
    color: #fff;
    margin-bottom: 57px;

    &__title {
        width: 700px;
        margin: 0 auto;
        font-size: 44px;
        line-height: 74px;
        letter-spacing: 0.04em;
        margin-bottom: 16px;
    }

    &__descr {
        width: 780px;
        margin: 0 auto;
        letter-spacing: 0.04em;
        opacity: .6;
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: 815px) {
    .contactUs-header {
        &__title {
            width: 100%;
        }
    
        &__descr {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .contactUs-header {
        padding: 30px 0;
        margin-bottom: 45px;

        &__title {
            font-size: 30px;
            line-height: 46px;
        }
    
        &__descr {
            font-size: 16px;
            line-height: 26px;
        }
    }
}

@media (max-width: 460px) {
    .contactUs-header {
        padding: 20px 0;
        margin-bottom: 40px;

        &__title {
            font-size: 28px;
            line-height: 32px;
        }

        &__descr {
            font-size: 14px;
            line-height: 22px;
        }
    }
}