.footer {
    background-color: $blue2;
    border-radius: 0px 200px 0px 0px;
    margin-right: 7%;
    padding-bottom: 60px;

    &__top {
        position: relative;
        padding: 90px 0 95px;

        &::after {
            position: absolute;
            content: "";
            width: calc(100% - 197px);
            height: 1px;
            top: 100%;
            left: 0;
            background-color: #fff;
            opacity: .4;
        }
    }

    &__btn-talk {
        position: absolute;
        right: 197px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__title {
        color: #fff;
        width: 320px;
        margin-bottom: 30px;
    }

    &__descr {
        color: #fff;
        opacity: .6;
        width: 460px;
    }

    &__down {
        padding: 95px 0 0;
        color: #fff;
    }

    &__down-wrap {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 45px;
    }

    &__contacts {
        margin-right: 100px;
    }

    &__main-link {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

    }

    &__logo-img {
        margin-right: 15px;
    }

    &__name {
        display: inline-block;
        margin: 0;
        font-size: 28px;
        line-height: 46px;
        font-weight: 600;
        letter-spacing: .02em;
        color: #fff;
    }

    &__contact {
        width: 300px;
    }

    &__contact-letter {
        font-weight: 600;
        margin-right: 16px;
        vertical-align: top;
    }

    &__contact-link {
        display: inline-block;
        width: 250px;
        color: #fff;

        &:not(.footer__contact-link--address):hover {
            text-decoration: underline;
        }
    }

    &__about {
        margin-right: 75px;
        width: 165px;
    }

    &__list-name {
        margin-bottom: 30px;
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__item {
        margin-bottom: 16px;
    }

    &__item-link {
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }

    &__copyright {
        color: #fff;
        opacity: .4;
        font-weight: 400;
    }
}

@media (max-width: 1365px) {
    .footer {
        &__top {
            padding: 90px 30px 95px;
        }
        &__down {
            justify-content: flex-start;
            padding: 95px 30px 0;
        }
    }
}

@media (max-width: 1044px) {
    .footer {

        &__top {
    
            &::after {
                width: 85%;
            }
        }
    }
}

@media (max-width: 997px) {
    .footer {
        border-radius: 0 130px 0 0;

        &__top {
            padding: 65px 0 65px;
        }

        &__btn-talk {
            right: 15%;
        }

        &__descr {
            width: 50%;
        }

        &__down {
            padding: 65px 0 0;
        }

        &__down-wrap {
            padding-bottom: 30px;
        }

        &__about {
            margin-right: 20px;
            width: 20%;
        }

        &__contacts {
            width: 37%;
            margin-right: 20px;
        }

        &__contact {
            width: 100%;
        }
    
        &__contact-link {
            width: 83%;
        }

        &__down-wrap {
            justify-content: space-between;
        }

        &__follow {
            margin-right: 12%;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &__name {
            font-size: 24px;
            line-height: 38px;
        }

        &__down {
            padding: 40px 0 0;
        }
    }
}

@media (max-width: 660px) {
    .footer {
        border-radius: 0 90px 0 0;

        &__descr {
            width: 60%;
        }

        &__top {
            padding: 45px 0;

            &::after {
                width: 100%;
            }
        }

        &__btn-talk {
            right: 30px;
        }

        &__contacts {
            width: 40%;
        }

        &__contact-link {
            width: 80%;
        }

        &__follow {
            margin-right: 0;
        }
    }
}

@media (max-width: 575px) {
    .footer {
        padding-bottom: 30px;
        border-radius: 0 60px 0 0;

        &__title {
            width: 100%;
        }
        
        &__btn-talk {
            position: relative;
            top: 0;
            left: 0;
            transform: translateY(0);
        }

        &__descr {
            width: 100%;
            margin-bottom: 25px;
        }

        &__down {
            padding: 30px 0 0;
        }

        &__down-wrap {
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-bottom: 15px;
        }

        &__contacts {
            width: 100%;
            margin-bottom: 20px;
        }

        &__main-link {
            margin-bottom: 20px;
        }

        &__about {
            width: 49%;
        }

        &__list-name {
            margin-bottom: 20px;
        }

        &__item {
            margin-bottom: 10px;
        }
    }
}