.form {
    border-radius: 10px;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    padding: 56px;

    &__title {
        text-transform: uppercase;
        margin-bottom: 48px;
        letter-spacing: .04em;
    }

    &__label {
        display: block;
        letter-spacing: .04em;
        opacity: .8;
        margin-bottom: 10px;
    }

    &__input {
        width: 100%;
        border: 1px solid rgba($blue3, .4);
        border-radius: 10px;
        padding: 20px 40px;
        font: inherit;
        margin-bottom: 30px;
        outline: none;

        &::placeholder {
            opacity: .3;
        }

        &:hover,
        &:focus {
            border: 1px solid rgba($blue3, 1);
        }
    }

    &__input--textarea {
        resize: none;
        margin-bottom: 70px;
        height: 144px;
    }

    &__btn {
        margin: 0 auto;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        box-shadow: $shadow-blue;
    }
}