*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  min-width: 320px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: $blue1;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 56px;
  background: $blue4;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  color: #fff;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background: darken($blue4, 6);
  }
}

h2 {
  margin: 0;
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
}

h3 {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}