$blue1: #1F3F68;
$blue2: #316099;
$blue3: #356EAD;
$blue4: #5A98D0;
$blue5: #98C3E8;

$gradient-dark-blue: linear-gradient(183.81deg, #42A5F5 -3.62%, #1565C0 88.96%);
$gradient-light-blue: linear-gradient(183.81deg, #98D0FC -3.62%, #3481D7 88.96%);
$gradient-orange: linear-gradient(238.37deg, #FFF8E1 0.54%, #FFCC80 88.49%);
$gradient-red: linear-gradient(180deg, #EB5757 0%, #872727 100%);
$gradient-violet: linear-gradient(180deg, #AF6CED 0%, #5E199D 100%);
$gradient-white-grey: linear-gradient(180.99deg, rgba(255, 255, 255, 0) 6.19%, rgba(0, 0, 0, 0.15) 102.42%);
$gradient-white-blue: linear-gradient(180.99deg, rgba(255, 255, 255, 0) 6.19%, rgba(100, 181, 246, 0.6) 103.09%);

$shadow-blue: 5px 20px 50px rgba(16, 112, 177, 0.2);
$shadow-grey: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-around: 0px 0px 200px rgba(49, 96, 153, 0.4);